a{
   text-decoration:none;
   color:#000000;
   }
	p{
    font-family:"Comic Sans MS", cursive, sans-serif;
	font-size:1em;
	color:#000000;
	text-align:center;
	font-style:bold;
	}
  .logo{
  background:none;
  height:32px;
  width:32px;
  display:inline-block;
  color:#FFDD67;
  }
	 .title { font-weight: bold; font-size: 35pt; }
@-webkit-keyframes pulse {
      0% {background-color: #45CEEF;}
     25% {background-color: #FCE52D;}
     50% {background-color: #FA0023;}
     75% {background-color: #5ECFF2;}
     100% {background-color: #FF9C00;}
}

body {
    -webkit-animation: pulse 80s infinite alternate;
    background-color: #45CEEF;
}